@media (max-width: 960px) {
  html {
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  body {
    height: auto;
    min-height: 100%;
    overflow: visible;
  }

  .layout {
    height: auto;
    min-height: 100dvh;
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: relative;
    height: auto;
    border-right: none;
    border-bottom: 1px solid var(--border);
    padding: 12px 16px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--background)
  }

  .content {
    height: auto;
    min-height: 0;
    overflow: visible;
  }

  .contentInner{
    padding: 24px;
  }

  .o-hide{
    display: none;
  }

  .o-mb-hide{
    display: none!important;
  }

  .o-pc-hide{
    display: flex;
  }

  .sidebarHeader{
    border-bottom: none;
    padding-bottom: 0;
  }

  .menuToggle {
    display: flex;
  }

  .mobileNavContent {
    display: none;
  }

  .mobileNavContent.open {
    display: block;
    padding-top: 12px;
    border-top: 1px solid var(--border);
  }

  .mobileNavContent.open .sidebarSection {
    display: grid;
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .mobileNavContent.open .navList {
    display: grid;
  }
}
